@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Poppins", sans-serif;
}

/* shared styles  */
.text-primary {
    color: #e893cf;
    font-weight: 600;
    font-size: 1rem;
}

.btn-primary {
    background-color: #e893cf;
    padding: 5px 10px;
    border-radius: 8px;
    border: 0;
    text-align: center;
    font-size: 1.2rem;
}

/* navbar styles */
header {
    background-color: #9376e0;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 0px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
    text-transform: capitalize;
    color: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

/* banner styles */
section {
    max-width: 1250px;
    margin: 0 auto;
}

.banner-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    background: #e6e9eb;
    padding: 20px;
    border-radius: 10px;
}

.banner-content {
    width: 50%;
    text-align: center;
}

.banner-content h1 {
    background: linear-gradient(45deg, #e893cf, #9376e0);
    background-clip: text;
    color: transparent;
    font-size: 3.75rem;
}

.banner-content h2 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
}

.social-icon {
    color: red;
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #e893cf;
    font-size: 1rem;
}

.banner-images {
    width: 50%;
    border-radius: 10px;
}

.banner-images img {
    width: 100%;
    border-radius: 10px;
}

/* products styles */
.product-container {
    margin: 30px 0px;
}

.product-container>h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 30px;
}

.product-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.single-product {
    background-color: #e6e9eb;
    border-radius: 8px;
    padding: 15px;

}

.single-product img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info .icon .fa-solid {
    background-color: #e893cf;
    padding: 10px;
    color: #645959;
    border-radius: 50%;
    font-size: 1rem;

}


/* ======== responsive design ====== */
/* style for mobile devices */
@media screen and (max-width:576px) {

    nav,
    .nav-logo,
    nav ul {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content,
    .banner-images {
        width: 100%;
    }

}

/* style for medium devices */
@media screen and (min-width:576px) and (max-width:800px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 10px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content,
    .banner-images {
        width: 100%;
    }

    .banner-images {
        margin-top: 20px;
    }

}